* {
    font-size: 14pt;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

div {
    /* display: grid; */
    /* justify-content: center; */
    /* align-content: center; */
}

.header {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: crimson;
}

.menu {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
}

.content {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.footer {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: darkkhaki;
}